.*
!.flowconfig

# dev only
*.gradle
__tests__
BUCK
DerivedData
pnpm-lock.yaml
node_modules
xcuserdata
/ContainerShip
/IntegrationTests
/Jenkinsfile
/RNTester
/babel-preset
/blog
/bots
/danger
/gradle*
/keystores
/runXcodeTests.sh
/third-party
/xcuserdata

# docs
*.md

# scripts
*.js
scripts/*
!rn-get-polyfills.js
!setupBabel.js
!scripts/macos*
!scripts/launch*
!scripts/packager.sh
!scripts/react-native-xcode.sh

# android
Android.mk
ReactAndroid
android

# rnpm
/local-cli/rnpm
/local-cli/server/middleware/heapCapture/bundle.js
